
<div class="flex-box">
    <div class="flex-item grid-container rounded" style="background-color: black;" *ngFor="let orb of orbsArr">
        <div class="grid-item">
            <strong>{{orb.name}}</strong>
        </div>
        <img class="orb-img" src="/assets/image/{{getOrbImg(orb.name)}}">
        <div class="grid-item orb-price">
            <strong>Price: {{orb.price}}  </strong><img src="/assets/image/coin.png" style="width:25px;height:25px;">
        </div>
        <button class="grid-item rounded">Purchase</button>
        <button class="grid-item rounded">Drop rates</button>
    </div>
</div>
