<div class="flex-box">
    <div class="flex-item grid-container rounded" style="background-color: black;">
        <div class="grid-item">
            <strong>Basic Orb</strong>
        </div>
        <img class="orb-img" src="/assets/image/red-orb.png">
        <div class="grid-item orb-price">
            <strong>Price: 100  </strong><img src="/assets/image/coin.png" style="width:25px;height:25px;">
        </div>
        <button class="grid-item rounded">Purchase</button>
        <button class="grid-item rounded">Drop rates</button>
    </div>
</div>
