/* You can add global styles to this file, and also import other style files */
body {
  /* background-color: #04c582;; */
  background-image: url('/assets/image/background-cave.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

input.form-control,
input.form-control:focus {
  background-color: #636b7b;
  color: #fff;
  border: 1px solid #636b7b;
}

input.form-control:focus {
  box-shadow: none;
}

button[type=submit].btn {
  margin-top: 20px;
  border-radius: 20px;
  background-color: #04c582;
  color: #fff;
}

div.form-group label:not(.text-danger) {
  color: #545d6a;
  font-weight: 700;
}

div.form-group.required>label:first-child:after {
  content: '*';
  color: #fff;
  padding-left: 5px;
}

#toast-container>div {
  opacity: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.wrapped-div {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  /* background: #2e3137; */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%, rgba(3, 3, 128, 1) 22%, rgba(0, 168, 255, 1) 47%, rgba(2, 86, 178, 1) 65%);
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

/* Tabs */
.tab-header {
  text-align: center;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
  outline: none;
}

.btn-correct {
  margin: 20px;
}

.form {
  margin: 0px 16px;
}

div.form-group input.invalid {
  border: 1px solid #dc3545;
}

div.form-group label:first-child {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.user-img {
  height: 100px;
  width: 100px;
}


.descr-popup {
  background-color: white;
  position: fixed;
  display: block;
  width: 200px;
  height: 400px;
  top: 25%;
  left: 50%;
}

.flex-box {
  display: flex;
  /* flex-flow:column wrap; */
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 10px;
  margin: 2px;
  /* background-color: #fff; */
  justify-content: center;
  /* align-items: baseline; */
  /* align-content:center; */
}

.flex-item {
  /* flex: 1 1 160px; */
  margin: 20px;
  background-color: #fff;
  padding: 10px;
  /* width: fit-content; */
  /* max-width: 100%; */
  /* background: blue; */
  /* margin: 1% 0px; */
}

.grid-container {
  display: grid;
  /* grid-template-rows: auto  auto auto auto auto; */
  padding: 10px;
  /* width: 200px; */
  width: fit-content;
}


/* .modal-popup{
    width: 200px;
    background-color: #04c582;
    text-align: center; 
  } */

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin: 1px;
  /* font-size: 30px; */
  text-align: center;
}

.grid-img {
  height: 15px;
  width: 15px;
}

.edits-img {
  height: 25px;
  width: 25px;
}

.orb-img {
  height: 200px;
  width: 200px;
  background-color: black;
}

.descr-orb {
  color: white;
  font-size: 15px;
  white-space: pre-wrap;
  /*to recognize new line char*/
}

.grid-monst-name {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 20px;
}

.descrp {
  height: 250px;
}

.inside-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2px;
  /* width: 150px; */
}

.edits-button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}

.edits-button:disabled {
  background-color: #142d15;
  color: white;
}

.grid-input {
  width: 150px;
}

.rounded {
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.orb-price {
  background-color: black;
  color: white;
}

.orb-money {
  background-color: gold;
  color: #000000;
  width: fit-content;
  font-size: 50px;
  border: #000000 solid;
  padding: 10px;
  margin: 50px;
}

.centered{
  justify-content: center;
  display: flex;
  text-align: center;
}

.sticky{
  position: sticky;
  top: 5px;
}

.orb-btn {}

.orb-btn:hover {}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}