<div style="background-color:aliceblue;padding: 20px; margin: 20px;">
  <h2>New to the site:</h2>
  <ul>
    <li><strong>Registration and Login with user authentication</strong></li>
    <li><strong>User roles and page guards.</strong><br>(You won't get there in a shady way, don't try it!)</li>
    <li><strong>Exclusive user editting functions for admin users.</strong><br>(Imagine getting a cool name and somebody change it!)</li>
    <li><strong>Cool attribute pictures to make creature profiles look 'lit'!</strong></li>
  </ul>
  <h3>Expect in near future:</h3>
  <ul>
    <li><strong>Creature picking system with dropdates</strong></li>
    <li><strong>Your own user account edit panel.</strong><br>(You can get that cool name back)</li>
    <li><strong>Profile pictures upload system.</strong></li>
    <li><strong>Creatures pictures also.</strong></li>
    <li><strong>Monetization to pay for those monsters.</strong></li>
  </ul>
</div>